<md-content layout="row" layout-align="center">
    <md-card id="loginCard" layout="column">
        <img ng-src="http://lorempicsum.com/simpsons/627/300/4" class="md-card-image">
        <md-card-content>
            <form ng-submit="login()">
                <md-input-container flex>
                    <label>Username</label>
                    <input type="email" ng-model="user.email">
                    <md-tooltip>
                        homer@simpson.com
                    </md-tooltip>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="user.password">
                    <md-tooltip>
                        strangleBart
                    </md-tooltip>
                </md-input-container>
                <md-button type="submit" flex class="md-fab md-primary">
                    <i class="material-icons">done</i>
                </md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>
